name: Actualizar Riesgo País

on:
  schedule:
    - cron: "0 * * * *"
  workflow_dispatch:

jobs:
  scraper:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.9"

      - name: Install Google Chrome
        run: |
          sudo apt-get update
          sudo apt-get install -y wget
          wget -q https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
          sudo apt install -y ./google-chrome-stable_current_amd64.deb
          google-chrome --version

      - name: Install Python dependencies
        run: |
          pip install undetected-chromedriver selenium

      - name: Run scraper
        run: python EMBI.py

      - name: Commit JSON
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git config --global user.name "GitHub Actions"
          git add EMBI.json
          if ! git diff --cached --quiet; then
            git commit -m "Actualizar JSON de Riesgo País"
            git push
          else
            echo "Sin cambios"
